<h1>Edite seu livro</h1>

<form action="" method="Post">
    <div class="form-control">
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Digite um titulo" value="{{book.title}}"/>
    </div>
    <div class="form-control">
        <label for="page">Numero de Paginas</label>
        <input type="number" name="page" placeholder="numeros de paginas" value="{{book.page}}"/>
    </div>
    <input type="submit" value="Editar"/>
</form>