<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>adicionar usuario</h1>
    <form action="/users/save" method="post">
        <div>
            <input type="text" placeholder="nome" name="name"/>
        </div>
        <div>
            <input type="text" placeholder="idade" name="age"/>
        </div>
        <div>
            <input type="submit" value="cadastrar"/>
        </div>
    </form>
    
</body>
</html>